<a href="https://colab.research.google.com/github/Tranminhtuan48/pythonbasics/blob/main/BaiTap_Pandas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

Câu 1: Khởi tạo 1 Series với giá trị rỗng

In [2]:
empty_seri = pd.Series([])
print(empty_seri)

Series([], dtype: float64)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

Câu 2: Giả sử có 1 vector hàng a có kích thước (1x7) được biểu diễn trong NumPy, hãy tạo 1
series tương ứng với các giá trị được sinh ngẫu nhiên.

In [3]:
vec_x = np.random.randint(0,30,7)
print("Random Vector hàng: ",vec_x)

seri_x = pd.Series(vec_x)
print("Series tương ứng : \n",seri_x)

Random Vector hàng:  [12  1 14 24  6 22  3]
Series tương ứng :
 0    12
1     1
2    14
3    24
4     6
5    22
6     3
dtype: int64

Câu 3: Giả sử có 1 vector hàng a có kích thước (1x7), hãy nhập các giá trị cho 7 phần tử này từ
bàn phím và tạo series tương ứng.

In [4]:
vec_y = np.array([float(input(f"Nhập phần tử {i+1}: ")) for i in range(7)])
print("Vector sau khi nhập : ", vec_y)

seri_y = pd.Series(vec_y)
print("Series tương ứng : \n",seri_y)

Nhập phần tử 1: 3
Nhập phần tử 2: 5
Nhập phần tử 3: 6
Nhập phần tử 4: 2
Nhập phần tử 5: 4
Nhập phần tử 6: 5
Nhập phần tử 7: 8
Vector sau khi nhập :  [3. 5. 6. 2. 4. 5. 8.]
Series tương ứng :
 0    3.0
1    5.0
2    6.0
3    2.0
4    4.0
5    5.0
6    8.0
dtype: float64

Câu 4: Giả sử có 1 vector cột có kích thước (7x1) được biểu diễn trong NumPy, hãy tạo Series
tương ứng.

In [5]:
vec_z = np.random.randint(0,30,(7,1))
print("Random Vector cột : \n",vec_z)

#series là dữ liệu 1 chiều nên ta reshape
seri_z = pd.Series(vec_z.reshape(7,))
print("Series tương ứng : \n",seri_z)

Random Vector cột :
 [[21]
 [13]
 [20]
 [19]
 [17]
 [23]
 [20]]
Series tương ứng :
 0    21
1    13
2    20
3    19
4    17
5    23
6    20
dtype: int64

Câu 5: Chuyển đổi dữ liệu, hãy thực hiện các yêu cầu sau:
* Chuyển 1 list thành 1 series

In [7]:
tem_list = [2,4,5,7,9]
tem_series = pd.Series(tem_list)
print(tem_series)

0    2
1    4
2    5
3    7
4    9
dtype: int64

* Chuyển 1 tuple thành 1 series

In [8]:
oop_tuple = ("a","b","c","d","e")
oop_series = pd.Series(oop_tuple)
print(oop_series)

0    a
1    b
2    c
3    d
4    e
dtype: object

* Chuyển 1 dictionary thành 1 series

In [10]:
tem_dict = {
    "gia trung": 2000,
    "gia gao": 5000,
    "gia thit": 22000
}
tem_series = pd.Series(tem_dict)
print(tem_series)

gia trung     2000
gia gao       5000
gia thit     22000
dtype: int64

Câu 6: Mỗi phần tử của series đều gắn liền với các chỉ số (index) tương ứng, hãy tạo một series
có kích thước (1x20) với giá trị ngẫu nhiên:
* Xuất series ra màn hình
* Xuất các chỉ số của series ra màn hình
* Thay đổi cách đánh chỉ số mặc định của series từ đánh chỉ số bằng số nguyên sang các kiểu
đánh chỉ số bằng label và in kết quả ra màn hình

In [11]:
tem_series = pd.Series(np.random.randint(0,30, 20))
print(tem_series)

0     20
1     15
2     10
3     23
4     17
5      7
6     21
7      5
8      7
9      5
10    20
11     8
12    15
13     6
14     0
15     0
16    26
17     3
18    25
19    16
dtype: int64

In [12]:
print(tem_series.index)

RangeIndex(start=0, stop=20, step=1)

In [14]:
import string
label_list = [i for i in string.ascii_lowercase] 

tem_series.index = label_list[: 20]
tem_series

a    20
b    15
c    10
d    23
e    17
f     7
g    21
h     5
i     7
j     5
k    20
l     8
m    15
n     6
o     0
p     0
q    26
r     3
s    25
t    16
dtype: int64

Câu 7: Giả sử có series có kích thước (1x10), giá trị ngẫu nhiên, index được đánh từ ‘a’ trở đi,
hãy:
* Trích xuất các phần tử của Series có chỉ số là ‘a’, ‘c’, ‘e’
* Trích xuất các phần tử của Series có chỉ số từ 3 đến 6

In [18]:
tem_series = pd.Series(np.random.randint(0,30,10), index = label_list[:10])
tem_series
print("a: ",tem_series.loc['a'])
print("c: ",tem_series.loc['c'])
print("e: ",tem_series.loc['e'])

a:  23
c:  24
e:  3

In [19]:
print("phần từ có chỉ số từ 3 đến 6: \n", tem_series.iloc[3:7])

phần từ có chỉ số từ 3 đến 6:
 d    27
e     3
f    15
g     8
dtype: int64