<a href="https://colab.research.google.com/github/Tranminhtuan48/pythonbasics/blob/main/List%2C%20Tuple%2C%20Set%20and%20date%26time.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
list1 = ['physics', 'chemistry', 1997, 2000] 
list2 = [1, 2, 3, 4, 5, 6, 7 ] 
print("list1[0]: ", list1[0]) 
print("list2[1:5]: ", list2[1:5]) 
print("Value available at index 2 : ") 
print(list1[2]) 
del list1[2] 
print("After deleting value at index 2 : ") 
print(list1)

list1[0]:  physics
list2[1:5]:  [2, 3, 4, 5]
Value available at index 2 :
1997
After deleting value at index 2 :
['physics', 'chemistry', 2000]

In [ ]:
tup1 = ('physics', 'chemistry', 1997, 2000) 
tup2 = (1, 2, 3, 4, 5, 6, 7 ) 
print("tup1[0]: ", tup1[0]) 
print("tup2[1:5]: ", tup2[1:5]) 
tup3 = tup1 + tup2 
print(tup3) 
tup4 = ('physics', 'chemistry', 1997, 2000) 
print(tup4) 
del tup4 
print("After deleting tup : tup is no longer exist ")

In [9]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'} 
print("dict['Name']: ", dict['Name']) 
print("dict['Age']: ", dict['Age']) 
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'} 
dict['Age'] = 8
dict['School'] = "DPS School"
print("dict['Age']: ", dict['Age']) 
print("dict['School']: ", dict['School']) 
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'} 
del dict1['Name'] 
print(dict1)

dict['Name']:  Zara
dict['Age']:  7
dict['Age']:  8
dict['School']:  DPS School
{'Age': 7, 'Class': 'First'}

In [16]:
Set = set(["a", "b", "c"]) 
print("Set: ") 
print(Set)
Set.add("d") 
print("\nSet after adding: ") 
print(Set)
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
Days.discard("Sun") 
print(Days) 
set1 = {1,2,3,4,5,6} 
print("Initial set") 
print(set1) 
# This method will remove 
# all the elements of the set 
set1.clear() 
print("\nSet after using clear() function") 
print(set1)

Set:
{'b', 'a', 'c'}

Set after adding:
{'d', 'b', 'a', 'c'}
{'Fri', 'Wed', 'Sat', 'Thu', 'Mon', 'Tue'}
Initial set
{1, 2, 3, 4, 5, 6}

Set after using clear() function
set()

In [21]:
import time
time.time() 
print("Number of ticks since 12:00am, January 1, 1970:")
time.localtime(time.time()) 
print("Local current time :", localtime) 
import time; 
localtime = time.asctime( time.localtime(time.time()) ) 
print("Local current time :", localtime) 
import calendar 
cal = calendar.month(2008, 1) 
print("Here is the calendar:") 
print(cal)

Number of ticks since 12:00am, January 1, 1970:
Local current time : Thu Sep 30 01:12:20 2021
Local current time : Thu Sep 30 01:12:51 2021
Here is the calendar:
    January 2008
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31