<a href="https://colab.research.google.com/github/Tranminhtuan48/pythonbasics/blob/main/loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
1.
i = 1
while(i<=10):
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [67]:
2.
rows = 5
for i in range(rows,0,-1):
    for j in range(i,0,-1):
        print(j, end=' ')
    print("\r")

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [36]:
3.
def getSum(n):  
    sum = 0
    for digit in str(n): 
      sum += int(digit)      
    return sum
   
n=input()
print(getSum(n))

1234567
28

In [77]:
n = int(input("Nhap so: "))
sum = 0
for num in range(1, n + 1, 1):
    sum = sum + num
print("Tong la: ", sum)

Nhap so: 4
Tong la:  10

In [44]:
4.
num = int(input())
for i in range(1, 11):
   print(num, 'x', i, '=', num * i)

2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [51]:
5.
a = input([])
for x in range(len(a)):
    print (a[x])

12345
1
2
3
4
5

In [52]:
n=int(input("Nhap so: "))
count=0
while(n>0):
    count=count+1
    n=n//10
print("Tong cacs chu so:",count)

Enter number:456
The number of digits in the number are: 3

In [53]:
A=[1,2,3,4,5]
for i in reversed(A) :
    print(i)

5
4
3
2
1

In [54]:
x=[-10,-9,-8,-7,-6,-5,-4,-3,-2,-1]
for i in x:
  print (i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [60]:
lower = int(input("nhap khoang duoi: "))  
upper = int(input("nhap khoang tren: "))  
for num in range(lower,upper + 1):  
   if num > 1:  
       for i in range(2,num):  
           if (num % i) == 0:  
               break  
       else:  
           print(num)

nhap khoang duoi: 0
nhap khoang tren: 70
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67

In [66]:
n = int(input("So khoang"))
n1, n2 = 0, 1
count = 0
if nterms <= 0:
   print("nhap mot so")
elif nterms == 1:
   print("Fibonacci chay den",n,":")
   print(n1)
else:
   print("Day Fibonacci:")
   while count < n:
       print(n1)
       nth = n1 + n2
       n1 = n2
       n2 = nth
       count += 1

So khoang10
Day Fibonacci:
0
1
1
2
3
5
8
13
21
34

In [71]:
num= int(input("number: "))
factorial = 1
if num < 0:
   print("nhap sai")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

nhap so: 7
The factorial of 7 is 5040

In [72]:
n=int(input("nhap so: "))
reverse=0
while(n>0):
    dig=n%10
    reverse=reverse*10+dig
    n=n//10
print("So dao nguoc:",reverse)

nhap so: 456789
So dao nguoc: 987654

In [75]:
list = [31, 13, 34, 85, 0, 99, 1, 3]
print("list la :")
print(list)
print("Cac so le la: ")
for i in range(1, len(list), 2):
   print(list[i])

list la :
[31, 13, 34, 85, 0, 99, 1, 3]
Cac so le la:
13
85
99
3

In [78]:
def cube(x):
    return x * x * x
n = int(input(" Nhap so: "))
cube1 = cube(n)
print("Lap phuong cua {0}  = {1}".format(n, cube1))

 Nhap so: 7
Lap phuong cua 7  = 343